# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.Rproj.user

GUPPI_TANK.R

inst/extras/DSB_guppi_report.css

inst/extras/report_template/04_allhits_Qval_vs_Mass.R

inst/extras/report_template/all-protein-hits.Rmd

inst/extras/report_template/best-protein-hits-tables.Rmd

inst/extras/report_template/best-proteoform-hits.Rmd

inst/extras/report_template/chunk_template_03.Rmd

inst/extras/report_template/protein-allhits-mass-histograms-01a.Rmd

inst/extras/report_template/protein-allhits-mass-histograms-01b.Rmd

inst/extras/report_template/protein-allhits-Qvalues.Rmd

inst/extras/report_template/protein-mass-heatmap.Rmd

inst/extras/report_template/protein-mass-histograms-01a.Rmd

inst/extras/report_template/protein-mass-histograms-01b.Rmd

inst/extras/report_template/protein-mass-histograms-02.Rmd

inst/extras/report_template/protein-mass-histograms-03.Rmd

inst/extras/report_template/protein-waffle-byfraction.Rmd

inst/extras/report_template/proteoform-mass-heatmap.Rmd

inst/old/00_run_all.R

inst/old/01_get_protein_info.R

inst/old/02_get_proteoform_info.R

inst/old/03_output_plots.R

inst/old/A_install_packages.R

inst/old/B_Download_Taxon.R

inst/rmd/generate_report.Rmd

.git-CORRUPT/

README.Rmd

ignore/

shiny/GUPPI/rsconnect/shinyapps.io/davidbutcher/


inst/shiny-semantic-devel/

inst/shinydashboard-devel/

inst/shiny-alpine/
